--find-links https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchaudio==0.13.1
opencv-python==4.7.0.72
scikit-image==0.21.0
dall-e
Pillow
requests
attrs

